body {
    background-color: #303030;
    color: #fff;
}

/* label,
.page-head{color:#fff;} */

.error,
.required-symbol {
    color: red;
}

.form-flex {
    display: flex;
    flex-direction: row;
}

.gender-input {
    gap: 10px;
}